.swiper-pagination-bullet.custom-bullet {
  width: 8px;
  height: 8px;
  background-color: #00a651;
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet.custom-bullet.swiper-pagination-bullet-active {
  width: 20px;
  height: 8px;
  border-radius: 4px;
}
.swiper-pagination {
  position: relative;
  padding-top:16px;
}
